<div class="landingBackground">
    <div class="parallax">
      <%=image_tag('vines.jpg')%>
    </div>
  <br>
  <br>
  <div class="header1 center" style="color: #F2F2F2; position: relative; top: 7.50%;">Knode<span style="color: orange;">.</span></div>
</div>

<div class="container">
  <div class="row">
    <div class="section">
      <div class="col s12 m12">
        <div class="landingForm">
        <%=form_tag sessions_path, class: "form" do %>
          <fieldset>

            <div class="form-group">
              <label for="email">EMAIL</label>
              <%= email_field_tag 'email', nil, class: 'form-control'%>
            </div>

            <div class="form-group">
              <label for="password">PASSWORD</label>
              <%=password_field_tag 'password', nil, class: "form-control"%>
            </div>

            <div class="form-group">
              <%= check_box_tag :remember_me%>
              <%= label_tag :remember_me%>
            </div>

            <div class="form-group" style="text-align:center;color:#ff0000">
              <p><strong><%if flash[:failure]%>
                <%= render 'layouts/login_failure'%>
              <%end%></strong></p>
            </div>

            <div class="row center">
              <%= submit_tag "Login", class: "btn btn-lg btn-primary btn-bloc"%>
            </div> 


            <div class="form-group">
              <h6>Have not account? Click here to <%= link_to("SignUp", new_user_path) %></h6>
            </div>
          </fieldset>
        <%end%>

      </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
  }

  modal.style.display = "block";
</script>
